@import '../../../../../styles.scss';

.modal-overlay {
  z-index: 88;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  // height: 475px;
  // width: 350px;
  // max-width: 500px;
  // max-height: 635px;
  height: 97vh;
  width:70vw;
  max-width: 70vh;
  max-height:97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  @include base-card;
  @include customize-scrollbar($primary-color);

  button{
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 16px;
    color: $font-color;
    background-color: $transparent-color;
  }
  button:hover{
    border: 1px solid $font-color-contrast;
  }
  &:hover{
    .modal-header{
      h4{
        color: $font-color-contrast;
      }
      button{
        color: $font-color-contrast;
      }
    }

    .container__button{
      button{
        color: $font-color-contrast;
      }
    }

  }
}

.image-video{
display: flex;
justify-content: center;
align-items: center;
margin-top: .8rem;
margin-bottom: .8rem;
width: 100%;
height: 14rem;
}

.skill-card {
  min-width: 80px;
  min-height: 80px;
  margin: 4px;
  font-size: x-small;
  border-radius: 16px;
  background-color: $background-card;
  h6 {
    margin: 0;
    padding: 10px;
    font-size: smaller;
  }
  p {
    margin: 0;
    padding: 10px;
    font-size: x-small;
  }
  &:hover {
    box-shadow: 0px 0px 4px 3px $shadow-color;
  }
  img {
    width: 30px !important;
    height: auto !important;
    border-radius: 4px !important;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin-top: 0.5rem;
  p{
    padding: 0;
  }
}

.technologies {
  overflow-x: scroll;
  @include customize-scrollbar($primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 150px;
  margin-bottom: 0.5rem;
}

.container__button{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 94%;

  button{
    width: 24px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 16px;
    color: $font-color;
    background-color: $transparent-color;
  }
}

@media (max-width: 635px)  {
  .modal-container{
    height: 80vh;
    width:95vw;

  }
}
@media (max-width: 810px)  {
  .container-center{
    .image-video{
      width: 100%;
      height: auto;
    }
  }
}

@media (max-height: 480px)  {
  .container-center{
    .image-video{
      width: 100%;
      height: auto;
    }
  }
  .technologies {
    overflow-x:hidden;
    display:block;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 0px;
  }
  .modal-container {
    height: 100vh;
    width:95vw;
  }
}
