$background: #f7f7f7;
$background-main-container: #e1e1e1;
$background-card: hsla(0, 0%, 85%, 0.702);
$font-color: #212121;
$font-color-contrast: #efefef;
$primary-color:  #002D82; //#2a8728; //#44713C; #ee720d; #2a8728;
$primary-color-hover:  #3f7b3e5c;
$second-color: #49544a;
$font-color-hover: #f5f5f5;
$shadow-color: #4154ab7d;
$background-input: #d7d7d72d;
$transparent-color: transparent;
