
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@mixin customize-scrollbar($track-color) {
  &::-webkit-scrollbar {
    width: 3px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: $transparent-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($track-color, 10%);
    margin-right: 15rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background-color: darken($track-color, 10%);
      box-shadow: 0 0 6px rgba(251, 251, 251, 0.3);
    }
  }
}
@mixin container-box {
  width: 95vw;
  height: max-content !important;
  max-height: 78vh;
  margin-bottom: 4rem;
  margin-top: 1rem;
  border-radius: 16px;

  @media (min-width: 1025px){
    width: 820px;
    height: 540px;
  }

  @media (max-height: 700px){
    height: 67vh;
  }

  @media (max-height: 480px){
    height: 58vh;
  }
  @media (max-height: 430px){
    height: 48vh;
  }

  @media (min-width: 620px){
    margin-left: 16px;
    height: 80vh;
    margin-bottom: 0px;
  }
}
@mixin base-card {
  border-radius: 16px;
  background-color: $background-card;
  transition: background-color 0.9s ease;
  overflow: hidden;
  position: relative;

  h6 {
    margin: 0;
    padding: 10px;
    font-size: smaller;
  }

  p {
    margin: 0;
    padding: 10px;
    font-size: x-small;
  }

  &:hover {
    background-color: $primary-color;
    box-shadow: 0px 0px 4px 3px $shadow-color;

     p, h6{
       color:  $font-color-contrast;
     }
     svg{
      fill: $font-color-contrast ;
      }

  }
}
