@import '../../../../../styles.scss';

details {
  overflow: hidden;
  margin-top: 10px;
  background: $background-card;
  border-radius: 16px;
  transition: max-height 0.9s ease-in-out;
  summary,
  article {
    padding: 10px 20px;
    transition: 0.5s;
  }
  summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: $primary-color;
    transition: transform 10.3s ease;
    p {
      color: $font-color;
      font-size: 14px;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: column;
    }
  }
  &[open] {
    summary {
      &::after {
        content: url("../../../../../assets/icons/chevron-up.svg");
        margin-top: 5px;
        fill: $font-color;
      }

      border-radius: 7px 7px 0 0;
    }
  }
  &:not([open]) {
    summary {
      &::after {
        content: url("../../../../../assets/icons/chevron-down.svg");
        margin-top: 5px;
        fill: $font-color;
      }
    }
  }
  summary:hover {
    opacity: 0.9;
    color: $font-color-hover;
    &[open] {
      summary {
        &::after {
          border: 1px solid $font-color-hover;
          box-shadow: 0px 0px 4px 3px $shadow-color;
        }
      }
    }
  }
}
