<div class="center">
  <div #elementToAnimation  class="main-container">
    <div class="pages">
      <router-outlet ></router-outlet>
    </div>
    <div class="spinner">
      <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.1)"
      size="default"
      color="hsla(0, 0%, 85%, 0.702)"
      type="square-spin"
      [fullScreen]="false"
      >
        <p class="text_spinner" > {{loadingText | typeWriterEffect:400 | async}} </p>
      </ngx-spinner>
    </div>
  </div>
  <div *ngIf="!initialPage"  class="bottom-navigation">
    <app-navigation></app-navigation>
  </div>
</div>


