
@import '../styles.scss';

.center {
  @include flex-center;
  position: relative;
}
.text_spinner{
  color: $font-color;
  font-size:small;
  font-weight: 100;
}
.main-container{
  @include flex-center;
  background-image: url("../assets/decorator_left90.png");
  background-position: 0 0;

  background-size:auto;
  background-repeat: repeat-y;
}
.pages{
  height: max-content;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Animação */
.main-container {
  animation: up-down 25s steps(1000) infinite;
}

.spinner{
  max-height: 50vh;
  background-color: aliceblue;
}

@keyframes up-down {
  100% {background-position-y: 1160px ;}
}

/* navigation */
.bottom-navigation{
  margin-left: 0!important;
  padding: 0!important;
  position: absolute;
  margin-top: 85vh;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 620px) {
  .bottom-navigation{
    margin-top: calc(35% - 320px);
    margin-right: 94%;
    width: 52px;
  }
}

@media (max-height: 376px) {
  .bottom-navigation{
    margin-top: calc(50% - 320px);
  }
}




