
@import '../styles.scss';

.center {
  @include flex-center;
  position: relative;
}
.image-container{
  @include flex-center;
  background-image: url("../assets/decorator_left.png");
  background-position: 0 0;
  background-size:auto;
  background-repeat: repeat-y;
}

/* Animação */
.image-container {
  animation: up-down 25s steps(1000) infinite;
}

@keyframes up-down {
  100% {background-position-y: 1160px ;}
}

/* navigation */
.bottom-navigation{
  position: absolute;
  margin-top: 80vh;
  width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}







