<h3 *ngIf="!loading" >{{contact | typeWriterEffect:200 | async}}</h3>

<div *ngIf="!loading" class="container-contact">
  <div *ngFor="let item of listContact" >
    <figure (click)="openLink(item.link)" >
      <div class="container-svg">
        <img src="assets/icons/{{ item.img }}.svg" alt="{{ item.name }}">
      </div>
        <figcaption>
          <strong>{{item.subtitle}}</strong>
          <p>{{item.description}}</p>
        </figcaption>
    </figure>
  </div>
  <p class="exit">Site desenvolvido em angular, <b (click)="navigateToIndexPage()">Sair</b></p>
</div>


