@import '../../../styles.scss';

h3{
  margin-bottom: 1rem;
}

.container-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  @include container-box;
  @include customize-scrollbar($transparent-color);

  figure {
    background-color: $background-card;
    transition: background-color 0.9s ease;
    margin-bottom: 16px;
    width: 200px;
    height: 150px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid $transparent-color;
    @media (max-width: 510px)  {
      width: 82vw;
      height: 6rem;
    }
    @media (min-width: 510px)  {
      width: 230px;
      height: 190px;

      flex-direction: column;
    }
    @media (max-height: 600px)  {
      width: 240px;
      height: 150px;
      flex-direction: column;
    }
    .container-svg{
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      img{

        margin-bottom: .5rem;
        max-height: 2rem ;
        border: 1px solid $transparent-color;
        padding: 0.3rem;
        border-radius: 0.8rem;
      }
    }

    figcaption{
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $font-color;
      text-decoration: none;
      p{
        font-size: smaller;
      }
      strong{
        font-size: small;
      }
    }
  }
  figure:hover{
    background-color: $primary-color;
    border-color: $font-color-hover;
    cursor: pointer;
    color: $font-color-hover;
    box-shadow: 0px 0px 4px 3px $shadow-color;
    figcaption{
      color: $font-color-contrast;
      p{
        font-size: smaller;
      }
      strong{
        font-size: small;
      }
    }
    .container-svg{
      img{
        border-bottom: 1px solid $font-color-contrast;
      }

    }
  }
}
.exit{
  font-size: smaller;
  padding: 0rem;
  margin: 2rem 0rem;
  b{
    cursor: pointer;
  }
}
.container-contact:hover{
  overflow-y: scroll;
  @include customize-scrollbar($primary-color);
}




