
@import '../../../styles.scss';
h3{
  margin-bottom: 1rem;
}
.container-about{
  @include container-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  img{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid $primary-color;
  }
  @media (min-width: 620px) and (min-height: 450px) {
    img{
      margin-bottom: 0rem;
    }
  }
  .about-text{
    min-width: 90%;
    max-width: 90%;
    height: max-content;
    margin-top: 1.5rem;
    padding: 0rem 1rem;
    overflow-y: scroll;
    @include customize-scrollbar($transparent-color);
    flex-direction: column;
    justify-content: center;
  }
  .about-text:hover{
    @include customize-scrollbar($primary-color);
  }
}
/*responsividade*/
@media (max-width: 648px) and (min-width: 548px) {
  .about-text {
    overflow-y: scroll;
    @include customize-scrollbar($primary-color);
  }
}
@media (min-width: 620px) {
  .about-text {
    margin-left: 1rem;
  }
}




