
<h3 *ngIf="!loading" >{{work | typeWriterEffect:100 | async}}</h3>
<div *ngIf="!loading" class="container-work">
   <div class="projects">
      <app-work-card *ngFor="let item of listWork" [work]="item" (workButtonClick)="openWorkModal($event)"></app-work-card>
   </div>
</div>

<app-work-modal
  [work]="workModal"
  [firstWork]="firstWork"
  [lastWork]="lastWork"
  (changeWorkModalEvent)="changeWork($event)"
  [showModal]="modalOpen && (workModal !== null)"
  (closeModalEvent)="closeModal()">
</app-work-modal>



