<h3 *ngIf="!loading" >{{certificate | typeWriterEffect:100 | async}}</h3>

<div *ngIf="!loading" class="container-certificate">
  <div class="certificates">
    <app-certificate-card *ngFor="let item of listCertificate; let i = index" [certificate]="item" (certificateCodeClick)="openCertificateModal($event)"></app-certificate-card>
  </div>
</div>

<app-certificate-modal
[certificate]="certificateModal"
[firstCertificate]="firstCertificate"
[lastCertificate]="lastCertificate"
(changeCertificateModalEvent)="changeCertificate($event)"
[showModal]="modalOpen && (certificateModal !== null)"
(closeModalEvent)="closeModal()">
</app-certificate-modal>
