@import '../../../../../styles.scss';

.modal-overlay {
  z-index: 88;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-container {
  @include container-box ;
  margin-top: 2rem !important;
  background: $background-card;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  height: auto !important;
  max-height: 80%;
  overflow: auto;

  button{
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 16px;
    color: $font-color;
    background-color: $transparent-color;
  }
  button:hover{
    border: 1px solid $primary-color;
  }
}

.disabled-button{
    color: $shadow-color !important;
    border: 1px solid $shadow-color !important;
    cursor: default !important;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body {
  margin-top: 10px;
  p{
    font-size: small;
  }
}

.primary-color{
  color: $primary-color;
  font-weight: 500;
}

.image-certificate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  img{
    max-width: 75%;
    max-height:75%;
    border-radius: 16px;

    @media (max-height: 710px) {
      max-width: 65% !important;
      max-height: 65% !important;
    }

    @media (max-height: 680px) {
      max-width: 60% !important;
      max-height: 60% !important;
    }

    @media (max-height: 610px) {
      max-width: 55% !important;
      max-height: 55% !important;
    }

    @media (max-height: 570px) {
      max-width: 40% !important;
      max-height: 40% !important;
    }

    @media (max-height: 500px) {
      max-width: 30% !important;
      max-height: 30% !important;
    }
    @media (max-height: 400px) {
      max-width: 20% !important;
      max-height: 20% !important;
    }

  }
  button{
    width: 24px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 16px;
    color: $font-color;
    background-color: $transparent-color;
  }
}

