@import '../../../../../styles.scss';

.modal-overlay {
  z-index: 88;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  height: 95vh;
  width:70vw;
  max-width: 70vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include base-card;
  @include customize-scrollbar($primary-color);
  overflow: auto;
  button{
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 16px;
    color: $font-color;
    background-color: $transparent-color;
  }
  button:hover{
    border: 1px solid $font-color-contrast;
    color: $font-color-contrast;
  }
  &:hover{
    .modal-header{
      h4{
        color: $font-color-contrast;
      }
      button{
        color: $font-color-contrast;
      }
    }
    .modal-body{
      .container-buttons{
        button{
          color: $font-color-contrast;
        }
      }
    }
  }
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin-top: 0.5rem;
  p{
    padding: 0;
  }
}
.modal-body {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p{
    font-size: small;
    padding: 0;
  }
  .image-certificate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16rem;
    img{
      width: 100%;
      height:auto;
    }
  }
  .container-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-top: 0.5rem;
    button{
      width: 24px;
      height: 48px;
      min-width: 48px;
      min-height: 48px;
      border: none;
      cursor: pointer;
      font-size: larger;
      border-radius: 16px;
      color: $font-color;
      background-color: $transparent-color;
    }
    button:hover{
      border: 1px solid $font-color-contrast;
    }
  }
}
.container-infos {
  display: flex;
  flex-direction: row;
  width: 94%;
  justify-content: center;
  margin-bottom: 0.5rem;

  p:nth-child(2),
  p:nth-child(3) {
    padding-left: 1rem;
  }
}

.primary-color{
  color: $primary-color;
  font-weight: 500;
}
@media (max-width: 635px)  {
  .modal-container{
    height: 80vh;
    width: 95vw;

  }
}
@media (max-width: 810px)  {
  .container-center{
    .image-video{
      width: 100%;
      height: auto;
    }
  }
}

@media (max-height: 480px)  {
  .modal-container {
    height: auto;
    width: 350px;
  }
  .container-infos {
    overflow-x:hidden;
    display:block;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 0px;
  }
}


