
@import '../../../styles.scss';

.presentation{
  display: flex;
  flex-direction: column;
  h1{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  button{
    margin-top: 24px;
    height: 52px;
    width: 200px;
    color: $font-color-contrast;
    background-color: $primary-color;
    border-radius: 16px;
    border: none;
    font-size: 12px;
    font-weight: 500;
  }
}

.presentation button:hover {
  color: $font-color-hover;
  box-shadow: 0px 0px 4px 3px $shadow-color;
  border: 1px solid $font-color-hover;
}








