
$background: #000;
$background-main-container: #171616;
$background-card: #232222b3;
$font-color: #dcdcdc;
$primary-color: #2c8e2a;; //#44713C; #ee720d;
$second-color: #49544a;
$font-color-hover: #f5f5f5;
$shadow-color: #d7d7d77d;
$transparent-color: transparent;


@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin customize-scrollbar($track-color) {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: $transparent-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($track-color, 10%);;
    margin-right: 15rem;
    border-radius: 2px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: darken($track-color, 80%);
      box-shadow: 0 0 6px rgba(251, 251, 251, 0.3);
    }
  }
}

@mixin container-box {
  width: 820px;
  height: 520px;
  margin-bottom: 7rem;
  margin-top: 1rem;
  border-radius: 16px;

  @media (max-width: 810px) and (min-height: 741px) {
    width: 560px;
    .container{
      width: 560px;
    }
  }

  @media (max-width: 648px) and (min-height: 741px) {
      width: 350px;
      .container{
        width: 350px;
      }
  }

  @media (max-width: 435px) {
      width: 380px;
      .container{
        width: 380px;
      }
  }

  @media (max-width: 376px) {
      width: 340px;
      .container{
        width: 340px;
      }
  }

  @media (max-width: 281px) {
      width: 270px;
      .container{
        width: 270px;
      }
  }

  @media ((max-height: 741px) and (max-width: 420px)) {
      height: 450px;
  }

  @media (max-width: 541px) and (max-height: 721px)  {
    width: 370px;
  }

  @media (max-width: 431px) and (max-height: 933px) and  (min-height: 800px) {
      width: 370px;
  }

  @media (max-height: 690px) {
    height: 370px;
  }

  @media (max-height: 640px) {
    height: 360px;
  }

  @media (max-height: 560px) {
      height: 340px;
  }

  @media (max-height: 500px) {
    height: 330px;
  }

  @media (max-height: 480px) {
      height: 270px;
  }

  @media (max-height: 430px) {
    height: 200px;
  }
  @media (max-height: 370px) {
    height: 150px;
  }

}

@mixin base-card {

  border-radius: 16px;
  background-color: $background-card;
  overflow: hidden;
  position: relative;

  h6 {
    margin: 0;
    padding: 10px;
    font-size: smaller;
  }

  p {
    margin: 0;
    padding: 10px;
    font-size: x-small;
  }

  &:hover {
    box-shadow: 0px 0px 4px 3px $shadow-color;
  }
}

* {
  margin: 0;
  padding: 0;
}

body{
  color: $font-color;
  background-color: $background;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', 'arial', sans-serif;
}

.main-container {
  min-width: 270px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: $background-main-container;
}

/*responsividade*/

@media (max-width: 7000px) {
  .main-container {
    width: 960px;
  }
}
@media (max-width: 648px) {
  .main-container {
    width: 600px;
  }
}
@media (max-width: 431px) {
  .main-container {
    width: 380px;
  }
}
@media (max-width: 360px) {
  .main-container {
    width: 360px;
  }
}

@media (max-width: 281px) {
  .main-container {
    width: 270px;
  }
}




