
$background: #000;
$background-main-container: #171616;
$background-card: #232222b3;
$font-color: #dcdcdc;
$primary-color: #2a8728; //#44713C; #ee720d;
$second-color: #49544a;
$font-color-hover: #f5f5f5;
$shadow-color: #d7d7d77d;
$background-input: #d7d7d72d;
$transparent-color: transparent;


@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin customize-scrollbar($track-color) {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: $transparent-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($track-color, 10%);
    margin-right: 15rem;
    border-radius: 2px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: darken($track-color, 80%);
      box-shadow: 0 0 6px rgba(251, 251, 251, 0.3);
    }
  }
}

@mixin container-box {
  width: 90vw;
  height: 75vh;
  margin-bottom: 7rem;
  margin-top: 1rem;
  border-radius: 16px;

  @media (min-width: 1025px){
    width: 820px;
    height: 540px;
  }

  @media (max-height: 700px){
    height: 67vh;
  }

  @media (max-height: 480px){
    height: 58vh;
  }
  @media (max-height: 430px){
    height: 48vh;
  }

}

@mixin base-card {

  border-radius: 16px;
  background-color: $background-card;
  overflow: hidden;
  position: relative;

  h6 {
    margin: 0;
    padding: 10px;
    font-size: smaller;
  }

  p {
    margin: 0;
    padding: 10px;
    font-size: x-small;
  }

  &:hover {
    box-shadow: 0px 0px 4px 3px $shadow-color;
  }
}

* {
  margin: 0;
  padding: 0;
}

body{
  color: $font-color;
  background-color: $background;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', 'arial', sans-serif;
}

.main-container {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: $background-main-container;
}

.disabled-button{
  color: $shadow-color !important;
  border: 1px solid $transparent-color !important;
  cursor: default !important;
}

/*responsividade*/

@media (min-width: 1025px) {
  .main-container {
    width: 960px;
  }
}





