@import '../../../../../styles.scss';

.certificate-card {
  flex: 20%;
  height: max-content;
  @include base-card;

  border: 1px solid transparent ;
  &:hover{
    border: 1px solid $font-color-contrast ;
    button{
      color: $font-color-contrast ;
    }

  }
}

.center{
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.certificate-card p, h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

button{
  width: 48px;
  height: 48px;
  border: none;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: larger;
  border-radius: 16px;
  color: $font-color;
  background-color: $transparent-color;

}
button:hover{
  color: $font-color-contrast;
  border: 1px solid $font-color-contrast;


}



