@import '../../../../../styles.scss';

.certificate-card {
  width: 140px;
  height: 220px;
  margin: 10px;
  @include base-card;
}

.certificate-card img {
  width: 140px;
}

.certificate-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button{
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  font-size: larger;
  border-radius: 16px;
  color: $font-color;
  background-color: $transparent-color;
}
button:hover{
  border: 1px solid $primary-color;
}



